.site-footer {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: $color-4;

  .footer-top {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-top > * {
    width: 33.33%;
  }
  @media screen and (max-width: 700px) {
    .footer-top > * {
      width: 100%;
    }
  }
  .footer-title {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    color: $color-2;
    font-size: 30px;
    font-weight: 700;
    padding: 17px 15px 13px 10px;
    text-align: center;
    text-transform: uppercase;
  }
  address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 0 10px;
    transition: all 0.3s ease;
  }
  a:hover {
    color: $color-1;
  }

  i {
    font-size: 32px;
    color: $color-2;
    padding: 0 10px;
  }
  .form-control {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }

  .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .text-center {
    text-align: center !important;
  }
  button[type="submit"] {
    background: #199eb8;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }

  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
  }
  [type="button"],
  [type="reset"],
  [type="submit"],
  button {
    -webkit-appearance: button;
  }
  button,
  input,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
  }
  textarea {
    height: 70px;
    resize: none;
  }
  button {
    border-radius: 0;
  }

  section {
    float: left;
    padding: 0 10px;
  }

  .social-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0a0a0a;
  }
  .copyright-text {
    opacity: 0.8;
    line-height: 2;
    color: #fff;
    font-weight: 600;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
  }
  .tsc {
    font-size: 16px;
  }
}
@media screen and (max-width: 825px) {
  .site-footer {
    .footer-title {
      font-size: 20px;
    }
    a,
    i,
    .copyright-text,
    .tsc {
      font-size: 14px;
    }
  }
}
